.container {
    display: flex;
    justify-content: space-around;
}

.bordure {
    border: 1px solid blue;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

span{
    color: red;
    font-weight: bold;
}